<h1>Pirate Ship Info</h1>
<form method="POST" action="/pirates">
  
  <label for "name">Pirate Name:</label>
  <input type="text" id="name" name="pirate[name]">
  <label for "weight">Pirate Weight:</label>
  <input type="text" id="weight" name="pirate[weight]">
  <label for "height">Pirate Height:</label>
  <input type="text" id="height" name="pirate[height]">
  
  <label for "name">Ship Name</label>
  <input type="text" id="s_name_1" name="pirate[ships][][name]">
  <label for "type">Ship Type</label>
  <input type="text" id="s_type_1" name="pirate[ships][][type]">
  <label for "booty">Ship Booty</label>
  <input type="text" id="s_booty_1" name="pirate[ships][][booty]">
  
  <label for "name">Ship Name</label>
  <input type="text" id="s_name_2" name="pirate[ships][][name]">
  <label for "type">Ship Type</label>
  <input type="text" id="s_type_2" name="pirate[ships][][type]">
  <label for "booty">Ship Booty</label>
  <input type="text" id="s_booty_2" name="pirate[ships][][booty]">
  
  <input type="submit" value="submit">
</form>