<h1>Pirate Ship Info</h1>
<form>
  <label for "name">Ship Name</label>
  <input type="text" id="name" name="name">
  <label for "type">Ship Type</label>
  <input type="text" id="type" name="type">
  <labelfor "booty">Ship Booty</label>
  <input type="text" id="booty" name="booty">
  <input type="submit" value="submit">
</form>