<h1>Display your Pirate here</h1>
  <%= Pirate.name Pirate.type Pirate.height %>

<h2>Display your first ship here</h2>

  <%= Ship[0].name Ship[0].type Ship[0].booty %>
  
<h2>Display your second ship here</h2>
    <%= Ship[1].name Ship[1].type Ship[1].booty %>
